<div class="container">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a home icon" [routerLink]="['']">
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <span>DigiBoard</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  

  <div style="display: flex; align-items: center;">
    <img [src]="'../../assets/404.gif'" alt="Not Found" style="width: 700px; height: 630px;">
    <div>
      <h1 style="margin-top: 0;"> PAGE NOT FOUND!!!</h1>
    </div>
  </div>