mat-toolbar .spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar button {
    margin-left: auto;
  }

  h1 {
    font-size: 5em;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0 auto;
    max-width: 50%;
    line-height: 1.2;
  }