<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a home icon" [routerLink]="['']">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <span>DigiBoard</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link routerLink="/course-create" routerLinkActive="active-link" >Create Course</a>
  <a mat-tab-link routerLink="/course-view" routerLinkActive="active-link">View Courses</a>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</nav>
